*{
  outline: red solid 1px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.baseForm {
  min-height: 10vh;
  padding: 2vw;
  margin: .5vh auto;
  max-width: 800px;
  label {
    font-size: 20px;
    margin: .5vh .5vw;
  }
  
  input {
    min-width: 200px;
    margin: .5vh .5vw;
  }
  
  .labelInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 40vw;
    margin: 1vw 5vw;
  }
}
